<div id="site-footer">
  <div class="page-width" style="margin-bottom: 15px">
    <div class="footer-text" style="display: flex">
      <div style="display: inline-block; width: 70%">
        <a href="?p=terms">Terms of Use</a> |
        <a href="?p=terms&privacy">Privacy Policy</a> |
        <a href="?p=contactus">Contact Us</a>
        <div style="display: block; width: 100%" class="disclaimer">
          Disclaimer: Information and interactive calculators are made available
          to you as self-help tools for your independent use and are not
          intended to provide investment advice. We cannot and do not guarantee
          their applicability or accuracy in regards to your individual
          circumstances. All examples are hypothetical and are for illustrative
          purposes. We encourage you to seek personalized advice from qualified
          professionals regarding all personal finance issues.
        </div>
      </div>
      <div style="margin-left: auto">
        <div>
          <a href="https://avonparkhistoricalsociety.com" target="_blank"
            ><img
              src="/assets/images/AvonParkHistoricalSocietyLogo.png"
              style="border: none"
              alt="Avon Park Historical Society"
              title="Avon Park Historical Society"
          /></a>
        </div>
        <div style="position: relative">
          <div
            style="
              display: inline-block;
              position: absolute;
              right: 0;
              top: 10px;
            "
          >
            <div style="display: inline-block">
              <a
                href="https://twitter.com/share?text=Check%20Out%3A%20Avonparkhistoricalsociety%2Ecom%20Avon%20Park%20Historical%20Society&url=https%3A%2F%2Favonparkhistoricalsociety%2Ecom%2F"
                target="_blank"
                ><img
                  src="/assets/images/socialsites/twitter.png"
                  width="24"
                  height="24"
                  alt="Tweet on Twitter"
                  border="0"
              /></a>
            </div>
            <div style="display: inline-block">
              <div id="fb-root"></div>
              <script
                async
                defer
                crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=631255344108500&autoLogAppEvents=1"
                nonce="XVsiIBUS"
              ></script>
              <div
                class="fb-like"
                data-href="https://avonparkhistoricalsociety.com/"
                data-width=""
                data-layout="button"
                data-action="like"
                data-size="small"
                data-share="true"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      Copyright &copy; 2026 Avon Park Historical Society |
      avonparkhistoricalsociety.com
    </div>
  </div>
</div>
