<!-- Header styles moved to _sass/_header.scss (compiled via assets/css/main.scss) -->


<div style="position: absolute; top: 5px; left: 5px; z-index: 9999">
  <a id="site-logo" href="./">
    <img
      src="assets/images/AvonParkHistoricalSocietyLogo.png"
      style="
        display: inline-block;
        margin-right: 10px;
        width: 100px;
        height: 100px;
      "
      alt="Avon Park Historical Society"
  /></a>
</div>
<div id="citynamecontainer">
  <a href="" class="headerbar-sitename">Avon Park Historical Society</a>
</div>

<div id="site-header">
  <button id="menu-button" onclick="toggleMenu()">&#xe906;</button>
  <div id="sitenavbarcontainer">
    <div id="site-top-nav">
      <ul class="navbar-main-links">
        <li>
          <a href="/" class="current">Home</a>
          <ul class="navbar-sub-list"></ul>
        </li>
        <li>
          <a href="/donations" class="current">Donations</a>
        </li>

        <li>
          <a href="?p=page&v=membership">Membership</a>
        </li>

        <li>
          <a href="https://avonparkhistoricalsociety.com/">About Us</a>

          <ul class="navbar-sub-list">
            <li><a href="/business/aphs">APHS History</a></li>

            <li><a href="/?p=page&v=staff">Staff</a></li>

            <li>
              <a href="https://avonparkhistoricalsociety.com/?p=contactus"
                >Contact Us</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="/join" class="join-button">Join</a>
        </li>
        <li>
          <a id="login-button" class="login-button">Login</a>
        </li>
      </ul>
    </div>

    <div id="site-bottom-nav">
      <div id="site-navbar">
        <div class="mobile-nav-header">
          <span>Menu</span>
          <button id="mobile-nav-header-menu-button" onclick="toggleMenu()">
            x
          </button>
        </div>
        <ul class="navbar-main-links">
          <li>
            <a href="https://avonparkhistoricalsociety.com">Museum</a>

            <ul class="navbar-sub-list">
              <li><a href="?p=page&v=Foundingexhibit">Founding</a></li>

              <li><a href="?p=page&v=rolls">Brown and Serve</a></li>

              <li><a href="/?p=page&v=highschool">High School</a></li>

              <li><a href="?p=page&v=military">Military</a></li>

              <li><a href="?p=page&v=oldhome">Old Home</a></li>

              <li><a href="?p=page&v=phone">Switchboard</a></li>
            </ul>
          </li>

          <li>
            <a href="https://avonparkhistoricalsociety.com/eventslist"
              >Events</a
            >
          </li>

          <li>
            <a href="https://avonparkhistoricalsociety.com/articles"
              >Articles</a
            >
          </li>

          <li>
            <a href="https://avonparkhistoricalsociety.com/memberphotos"
              >Photos</a
            >
          </li>
        </ul>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>

  <script>
    function toggleMenu() {
      /*$('#sitenavbarcontainer').toggle("slide", {direction: "left" }, 1000);*/
      $("#sitenavbarcontainer").toggle(
        "slide",
        { direction: "left" },
        1000,
        function () {
          $("#sitenavbarcontainer").toggleClass("showflex");
        },
      );

      /* $('#sitenavbarcontainer').slideToggle("slow", function(){ $('#sitenavbarcontainer').toggleClass("showflex");});*/
      /*$('#sitenavbarcontainer').toggleClass("showflex");*/
      /*$( "#foo" ).toggleClass( className, addOrRemove );*/
    }

    /*Reverse Div Display Order*/
    /*$('#site-navbar').insertBefore('#site-top-nav');*/
  </script>
</div>
