<style>
  /*.headerbar-sitename {
      margin-left:130px;
      margin-right:15px;
      color:#638697;
      font-size:30pt;
      font-style: italic;
      align-content: left;\
      text-transform: capitalize;
     }
     
     #sitenavbarcontainer {
      width:100%;
      height:100%;
     }
     
     #site-bottom-nav {
      font-size:16pt;
      font-weight:bold;
      font-variant: small-caps;
      align-content: left;
      align-content: left;
      height:55px;
      text-align: left;
     }
     
     #citynamecontainer {
      display:inline-block;
      text-align:left;
      vertical-align: top;
      float: left;
     }
     
     #sitenavbar {
      float: right;
      padding-top: 5px;
      box-sizing: border-box;
     }
     
     #site-top-nav {
       list-style: none;
       margin: 0 20px 0 0;
       padding: 0;
       text-align: right;
      }
      #site-top-nav li {
       display: inline-block;
       vertical-align: top;
       margin: 0 5px;
       cursor: pointer;
      }
  #site-top-nav .mobile-nav-header {
    display:none;
  }
  #site-top-nav .navbar-main-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; }
    #site-top-nav .navbar-main-links li {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
      cursor: pointer; }
      #site-top-nav .navbar-main-links li a {
        padding: 0 10px;
        color: #fff;
        line-height: 40px;
        display: block;
        font-size: 16px;
       }
        #site-top-nav .navbar-main-links li a.current {
          color: #fff; }
        #site-top-nav .navbar-main-links li a:hover {
          color: #88bbff;}
      #site-top-nav .navbar-main-links li:hover a {
        color: #88bbff; }
      #site-top-nav .navbar-main-links li:hover .navbar-sub-list {
        display: block; }
      #site-top-nav .navbar-main-links li .navbar-sub-list {
        display: none;
        z-index: 1000;
        position: absolute;
        background: #638697;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 200px;}
        #site-top-nav .navbar-main-links li .navbar-sub-list li {
          display: block;
          margin: 0; }
          #site-top-nav .navbar-main-links li .navbar-sub-list li a {
            line-height: 40px;
            display: block;
            padding: 0 10px;
            color:#fff;}
          #site-top-nav .navbar-main-links li .navbar-sub-list li a:hover {
            color: #88bbff;
            background:#ccc;}
      
      
     #site-top-nav .navbar-main-links li:hover .navbar-sub-list2 {
        display: block; }
      #site-top-nav .navbar-main-links li .navbar-sub-list2 {
        display: none;
        z-index: 1000;
        position: absolute;
        background: #638697;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 200px;
        right:0;}
        #site-top-nav .navbar-main-links li .navbar-sub-list2 li {
          display: block;
          margin: 0; }
          #site-top-nav .navbar-main-links li .navbar-sub-list2 li a {
            line-height: 40px;
            display: block;
            padding: 0 10px;
            color:#fff;}
          #site-top-nav .navbar-main-links li .navbar-sub-list2 li a:hover {
            color: #88bbff }*/

  #site-top-nav {
    padding-top: 5px;
    box-sizing: border-box;
    color: white;
    font-size: 14pt;
    width: 100%;
    height: 55px;
  }

  #site-top-nav .navbar-main-links li .navbar-sub-list2 .pointscontainer {
    text-align: left;
    font-size: 12pt;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    border-left: solid rgba(0, 0, 0, 0.4) 4px;
    border-right: solid rgba(0, 0, 0, 0.4) 4px;
  }

  .login-button {
    color: #fff !important;
  }

  .join-button {
    color: #ff0 !important;
  }

  @media only screen and (max-width: 1280px) {
    /* #site-navbar .navbar-main-links li a {
          /*padding: 0 5px;
          color: #000;
          line-height: 40px;
          display: block;
          font-size: 16px;
          font-family: 'Oswald', sans-serif;} */
  }

  @media only screen and (max-width: 1000px) {
    #site-top-nav {
      height: auto;
    }

    .login-button {
      color: #990 !important;
    }

    .join-button {
      color: #00f !important;
    }

    .showflex {
      display: flex !important;
    }

    #sitenavbarcontainer {
      display: none;
      flex-direction: column;
      background: #fff;
      color: #000;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      border-right: solid #aaa 1px;
      z-index: 99999;
      max-height: none;
      overflow-y: scroll;
      padding-bottom: 30px;
    }

    #sitenavbar {
      float: none !important;
      padding-top: 5px;
      box-sizing: border-box;
      display: block;
    }

    #site-bottom-nav {
      all: unset;
    }

    #sitenavbarcontainer > #site-top-nav {
      order: 2;
    }

    #sitenavbarcontainer > #site-bottom-nav {
      order: 1;
    }

    #site-top-nav .navbar-main-links li:hover .navbar-sub-list2 {
      display: block;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 {
      display: none;
      z-index: 1000;
      position: absolute;
      background: #638697;
      margin: 0;
      padding: 0;
      text-align: left;
      width: 200px;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 li {
      display: block;
      margin: 0;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 .pointscontainer {
      text-align: left;
      font-size: 14pt;
      padding: 5px 0px 5px 35px;
      background: rgb(255, 255, 255);
      color: black;
      border-left: none;
      border-right: none;
      border-bottom: solid #aaa 1px;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 li a {
      line-height: 40px;
      display: block;
      border: none;
      padding: 0 20px 0 35px;
      font-weight: normal;
      color: #000;
      background: #fff;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 li a:hover {
      color: #88bbff;
      background: #ccc;
    }

    #site-top-nav .navbar-sub-list2 {
      margin-left: 10px;
      background: #fff;
      width: 100% !important;
      display: block !important;
      position: relative !important;
    }
  }

  #site-navbar .navbar-main-links li:hover .navbar-sub-list2 {
    display: block;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 {
    display: none;
    z-index: 1000;
    position: absolute;
    background: #638697;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 200px;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 li {
    display: block;
    margin: 0;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 .pointscontainer {
    text-align: left;
    font-size: 14pt;
    padding: 5px 0px 5px 35px;
    background: rgb(255, 255, 255);
    color: black;
    border-left: none;
    border-right: none;
    border-bottom: solid #aaa 1px;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 li a {
    line-height: 40px;
    display: block;
    border: none;
    padding: 0 20px 0 35px;
    font-weight: normal;
    color: #000;
    background: #fff;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 li a:hover {
    color: #88bbff;
    background: #ccc;
  }

  #site-navbar .navbar-sub-list2 {
    margin-left: 10px;
    background: #fff;
    width: 100% !important;
    display: block !important;
    position: relative !important;
  }

  @media only screen and (max-width: 750px) {
    #site-top-nav .navbar-main-links li:hover .navbar-sub-list2 {
      display: block;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 {
      display: none;
      z-index: 1000;
      position: absolute;
      background: #638697;
      margin: 0;
      padding: 0;
      text-align: left;
      width: 200px;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 li {
      display: block;
      margin: 0;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 .pointscontainer {
      text-align: left;
      font-size: 14pt;
      padding: 5px 0px 5px 35px;
      background: rgb(255, 255, 255);
      color: black;
      border-left: none;
      border-right: none;
      border-bottom: solid #aaa 1px;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 li a {
      line-height: 40px;
      display: block;
      border: none;
      padding: 0 20px 0 35px;
      font-weight: normal;
      color: #000;
      background: #fff;
    }

    #site-top-nav .navbar-main-links li .navbar-sub-list2 li a:hover {
      color: #88bbff;
      background: #ccc;
    }

    #site-top-nav .navbar-sub-list2 {
      margin-left: 10px;
      background: #fff;
      width: 100% !important;
      display: block !important;
      position: relative !important;
    }
  }

  #site-navbar .navbar-main-links li:hover .navbar-sub-list2 {
    display: block;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 {
    display: none;
    z-index: 1000;
    position: absolute;
    background: #638697;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 200px;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 li {
    display: block;
    margin: 0;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 .pointscontainer {
    text-align: left;
    font-size: 14pt;
    padding: 5px 0px 5px 35px;
    background: rgb(255, 255, 255);
    color: black;
    border-left: none;
    border-right: none;
    border-bottom: solid #aaa 1px;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 li a {
    line-height: 40px;
    display: block;
    border: none;
    padding: 0 20px 0 35px;
    font-weight: normal;
    color: #000;
    background: #fff;
  }

  #site-navbar .navbar-main-links li .navbar-sub-list2 li a:hover {
    color: #88bbff;
    background: #ccc;
  }

  #site-navbar .navbar-sub-list2 {
    margin-left: 10px;
    background: #fff;
    width: 100% !important;
    display: block !important;
    position: relative !important;
  }
</style>

<div style="position: absolute; top: 10px; left: 10px; z-index: 9999">
  <a id="site-logo" href="./">
    <img
      src="/assets/images/AvonParkHistoricalSocietyLogo.png"
      style="display: inline-block; margin-right: 10px"
      alt="Avon Park Historical Society"
  /></a>
</div>
<div id="citynamecontainer">
  <a href="" class="headerbar-sitename">Avon Park Historical Society</a>
</div>

<div id="site-header">
  <button id="menu-button" onclick="toggleMenu()">&#xe906;</button>
  <div id="sitenavbarcontainer">
    <div id="site-top-nav">
      <ul class="navbar-main-links">
        <li>
          <a href="home" class="current">Home</a>

          <ul class="navbar-sub-list"></ul>
        </li>

        <li>
          <a href="" class="current">Donations</a>
        </li>

        <li>
          <a href="?p=page&v=membership">Membership</a>
        </li>

        <li>
          <a href="https://avonparkhistoricalsociety.com/">About Us</a>

          <ul class="navbar-sub-list">
            <li><a href="/business/aphs">APHS History</a></li>

            <li><a href="/?p=page&v=staff">Staff</a></li>

            <li>
              <a href="https://avonparkhistoricalsociety.com/?p=contactus"
                >Contact Us</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="/join" class="join-button">Join</a>
        </li>
        <li>
          <a id="login-button" class="login-button">Login</a>
        </li>
        <li>
          <div data-netlify-identity-menu></div>
        </li>
      </ul>
    </div>

    <div id="site-bottom-nav">
      <div id="site-navbar">
        <div class="mobile-nav-header">
          <span>Menu</span>
          <button id="mobile-nav-header-menu-button" onclick="toggleMenu()">
            x
          </button>
        </div>
        <ul class="navbar-main-links">
          <li>
            <a href="https://avonparkhistoricalsociety.com">Museum</a>

            <ul class="navbar-sub-list">
              <li><a href="?p=page&v=Foundingexhibit">Founding</a></li>

              <li><a href="?p=page&v=rolls">Brown and Serve</a></li>

              <li><a href="/?p=page&v=highschool">High School</a></li>

              <li><a href="?p=page&v=military">Military</a></li>

              <li><a href="?p=page&v=oldhome">Old Home</a></li>

              <li><a href="?p=page&v=phone">Switchboard</a></li>
            </ul>
          </li>

          <li>
            <a href="https://avonparkhistoricalsociety.com/eventslist"
              >Events</a
            >
          </li>

          <li>
            <a href="https://avonparkhistoricalsociety.com/articles"
              >Articles</a
            >
          </li>

          <li>
            <a href="https://avonparkhistoricalsociety.com/memberphotos"
              >Photos</a
            >
          </li>
        </ul>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>

  <script>
    function toggleMenu() {
      /*$('#sitenavbarcontainer').toggle("slide", {direction: "left" }, 1000);*/
      $("#sitenavbarcontainer").toggle(
        "slide",
        { direction: "left" },
        1000,
        function () {
          $("#sitenavbarcontainer").toggleClass("showflex");
        },
      );

      /* $('#sitenavbarcontainer').slideToggle("slow", function(){ $('#sitenavbarcontainer').toggleClass("showflex");});*/
      /*$('#sitenavbarcontainer').toggleClass("showflex");*/
      /*$( "#foo" ).toggleClass( className, addOrRemove );*/
    }

    /*Reverse Div Display Order*/
    /*$('#site-navbar').insertBefore('#site-top-nav');*/
  </script>
</div>
